@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    font-family: 'Urbanist', sans-serif;

}
<<<<<<< HEAD

/*header{
=======
header{
>>>>>>> 85ab8afcdd0955616f539993522235dd149ed820
    position: fixed;
    width: 100%;
    background-color:#40798c;
    top: 0%;
    z-index: 2;
}

h1{
    color: #f4f7f8;
}

body {
    margin-top: 48px;
<<<<<<< HEAD
}*/

.navbar{
    background-color:#40798c !important;

}

.navbar-brand{
    color: white !important;
}
.nav-link{
    color: rgb(228, 228, 228) !important;
}

.nav-link.active{
    color: white !important;
=======
>>>>>>> 85ab8afcdd0955616f539993522235dd149ed820
}