*{
    --dark-slate-gray: #3e4e50ff;
    --dark-cornflower-blue: #304269ff;
    --shadow-blue: #6d8eadff;
    --alice-blue: #d9e8f5ff;
    --mellow-apricot: #f8bd7fff;
    --sandy-brown: #f5ac72ff;
}

/* main{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
}

section{
    max-width: 80vw !important;
} */
